---
import "../styles/global.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <title>Congrats</title>
	</head>

	<body class="min-h-screen flex justify-center items-center bg-linear-to-br from-[#ff9a9e] via-[#fecfef] to-[#fecfef] font-sans">
        <h1 class="text-6xl md:text-8xl lg:text-9xl font-bold text-slate-100 drop-shadow-lg text-center px-4">Congrats</h1>
	</body>
</html>

